@define-color foreground #e0ded0;
@define-color background #0F0F14;
@define-color cursor #e0ded0;

@define-color color0 #0F0F14;
@define-color color1 #3F3F51;
@define-color color2 #912D33;
@define-color color3 #AE3234;
@define-color color4 #C0393A;
@define-color color5 #47958C;
@define-color color6 #B9C0A8;
@define-color color7 #e0ded0;
@define-color color8 #9c9b91;
@define-color color9 #3F3F51;
@define-color color10 #912D33;
@define-color color11 #AE3234;
@define-color color12 #C0393A;
@define-color color13 #47958C;
@define-color color14 #B9C0A8;
@define-color color15 #e0ded0;
